.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4px;
    border-bottom: 2px solid #3adcea;
    background: linear-gradient(
        80deg,
        hsl(274.87, 100%, 45.1%) 91.4%,
        hsl(273.21, 100%, 45.1%) 96.3%,
        hsl(271.04, 100%, 45.1%) 100%
      );
}

.active-nav-link {
    color: #3adcea !important;
    font-weight: 800 !important;
  }

  .main-nav p {
    display: inline;
    cursor: pointer;
  }

.main-nav a,
.main-nav p {
    margin-left: 6px;
    font-size: 16px;
    color: white;
}

.main-nav a:hover,
.main-nav p:hover {
  color: #3adcea
}